<?xml version="1.0"?>
<robot name="vx01" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="use_sim" default="false"/>
    <xacro:property name="use_sim" value="$(arg use_sim)"/>

    <xacro:arg name="prefix" default=""/>
    <xacro:property name="prefix" value="$(arg prefix)"/>

    <!-- ── Base body ── -->
    <xacro:include filename="$(find vx01_description)/urdf/base/base.xacro"/>

    <!-- ── Hexapod legs (6 legs) ── -->
    <xacro:include filename="$(find vx01_description)/urdf/hexapod/leg_0.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/hexapod/leg_1.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/hexapod/leg_2.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/hexapod/leg_3.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/hexapod/leg_4.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/hexapod/leg_5.xacro"/>

    <!-- ── Drone arms (4 arms with props) ── -->
    <xacro:include filename="$(find vx01_description)/urdf/drone/arm_0.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/drone/arm_1.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/drone/arm_2.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/drone/arm_3.xacro"/>

    <!-- ── Sensors ── -->
    <xacro:include filename="$(find vx01_description)/urdf/sensors/depth_camera.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/sensors/imu.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/sensors/tf_lidar.xacro"/>

    <!-- ROS2_control -->
    <xacro:include filename="$(find vx01_description)/urdf/control/vx01.ros2_control.xacro"/>

    <!-- Gazebo reference -->
    <xacro:include filename="$(find vx01_description)/urdf/gazebo/vx01_sim.xacro"/>

    <xacro:vx01_ros2_control
        prefix="${prefix}"
        use_sim="${use_sim}"
        serial_port="/dev/ttyACM0"
        baud_rate="115200"
        pwm_frequency="50"
        gpio_chip="gpiochip0"/>

    <!-- Gazebo / Ignition Fortress Simulation Plugins -->
    <xacro:if value="${use_sim}">

        <gazebo>
            <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
                <parameters>$(find vx01_bringup)/config/vx01_controller_manager.yaml</parameters>
            </plugin>
        </gazebo>

    </xacro:if>

</robot>