<?xml version="1.0"?>
<robot name="vx01" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:arg name="use_sim" default="false"/>
    <xacro:property name="use_sim" value="$(arg use_sim)"/>

    <xacro:arg name="serial_port" default="/dev/ttyMAESTRO"/>
    <xacro:property name="serial_port" value="$(arg serial_port)"/>

    <xacro:arg name="baud_rate" default="115200"/>
    <xacro:property name="baud_rate" value="$(arg baud_rate)"/>

    <!-- ── Base body ── -->
    <xacro:include filename="$(find vx01_description)/urdf/base/base.xacro"/>

    <!-- ── Hexapod legs (6 legs) ── -->
    <xacro:include filename="$(find vx01_description)/urdf/hexapod/leg_0.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/hexapod/leg_1.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/hexapod/leg_2.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/hexapod/leg_3.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/hexapod/leg_4.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/hexapod/leg_5.xacro"/>

    <!-- ── Drone arms (4 arms with props) ── -->
    <xacro:include filename="$(find vx01_description)/urdf/drone/arm_0.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/drone/arm_1.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/drone/arm_2.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/drone/arm_3.xacro"/>

    <!-- ── Sensors ── -->
    <xacro:include filename="$(find vx01_description)/urdf/sensors/depth_camera.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/sensors/imu.xacro"/>
    <xacro:include filename="$(find vx01_description)/urdf/sensors/tf_mini.xacro"/>
    <xacro:tf_mini parent="base_footprint">
        <origin xyz="0 0 -0.05" rpy="0 1.5708 0"/>
    </xacro:tf_mini>

    <!-- ROS2_control -->
    <xacro:include filename="$(find vx01_description)/urdf/control/vx01.ros2_control.xacro"/>

    <!-- Gazebo reference -->
    <xacro:include filename="$(find vx01_description)/urdf/gazebo/vx01_sim.xacro"/>

    <xacro:vx01_ros2_control
        use_sim="${use_sim}"
        serial_port="${serial_port}"
        baud_rate="${baud_rate}"
        pwm_frequency="50"
        gpio_chip="gpiochip0"/>

    <!-- Gazebo / Ignition Fortress Simulation Plugins -->
    <xacro:if value="${use_sim}">

        <gazebo>
            <plugin name="ign_ros2_control::IgnitionROS2ControlPlugin"
                    filename="ign_ros2_control-system">
                <parameters>$(find vx01_bringup)/config/vx01_controller_manager.yaml</parameters>
            </plugin>
        </gazebo>

        <gazebo>
            <plugin filename="libArduPilotPlugin.so"
                    name="ArduPilotPlugin">
                <fdm_addr>127.0.0.1</fdm_addr>
                <fdm_port_in>9002</fdm_port_in>
                <fdm_port_out>9003</fdm_port_out>
                <connectionTimeoutMaxCount>25</connectionTimeoutMaxCount>
                <lock_step>1</lock_step>
                <modelXYZToAirplaneXForwardZDown>0 0 0 3.141593 0 0</modelXYZToAirplaneXForwardZDown>
                <gazeboXYZToNED>0 0 0 3.141593 0 0</gazeboXYZToNED>
                <imuName>imu_sensor</imuName>
                <motorSpeedCommandPubTopic>/gazebo/command/motor_speed</motorSpeedCommandPubTopic>

                <!-- Channel 0 → Motor 1 → Front-Right → prop_0 (CCW) -->
                <control channel="0">
                    <jointName>prop_0</jointName>
                    <multiplier>800</multiplier>
                    <offset>0</offset>
                    <servo_min>1000</servo_min>
                    <servo_max>2000</servo_max>
                    <type>VELOCITY</type>
                    <p_gain>2.0</p_gain>
                    <i_gain>0</i_gain>
                    <d_gain>0</d_gain>
                    <i_max>0</i_max>
                    <i_min>0</i_min>
                    <cmd_max>2.5</cmd_max>
                    <cmd_min>-2.5</cmd_min>
                </control>

                <!-- Channel 1 → Motor 2 → Rear-Left → prop_2 (CCW) -->
                <control channel="1">
                    <jointName>prop_2</jointName>
                    <multiplier>800</multiplier>
                    <offset>0</offset>
                    <servo_min>1000</servo_min>
                    <servo_max>2000</servo_max>
                    <type>VELOCITY</type>
                    <p_gain>2.0</p_gain>
                    <i_gain>0</i_gain>
                    <d_gain>0</d_gain>
                    <i_max>0</i_max>
                    <i_min>0</i_min>
                    <cmd_max>2.5</cmd_max>
                    <cmd_min>-2.5</cmd_min>
                </control>

                <!-- Channel 2 → Motor 3 → Front-Left → prop_1 (CW) -->
                <control channel="2">
                    <jointName>prop_1</jointName>
                    <multiplier>800</multiplier>
                    <offset>0</offset>
                    <servo_min>1000</servo_min>
                    <servo_max>2000</servo_max>
                    <type>VELOCITY</type>
                    <p_gain>2.0</p_gain>
                    <i_gain>0</i_gain>
                    <d_gain>0</d_gain>
                    <i_max>0</i_max>
                    <i_min>0</i_min>
                    <cmd_max>2.5</cmd_max>
                    <cmd_min>-2.5</cmd_min>
                </control>

                <!-- Channel 3 → Motor 4 → Back-Right → prop_3 (CW) -->
                <control channel="3">
                    <jointName>prop_3</jointName>
                    <multiplier>800</multiplier>
                    <offset>0</offset>
                    <servo_min>1000</servo_min>
                    <servo_max>2000</servo_max>
                    <type>VELOCITY</type>
                    <p_gain>2.0</p_gain>
                    <i_gain>0</i_gain>
                    <d_gain>0</d_gain>
                    <i_max>0</i_max>
                    <i_min>0</i_min>
                    <cmd_max>2.5</cmd_max>
                    <cmd_min>-2.5</cmd_min>
                </control>
            </plugin>

            <!-- prop_0: Front-Right, Motor 1, channel 0, CCW -->
            <plugin filename="ignition-gazebo-multicopter-motor-model-system"
                    name="ignition::gazebo::systems::MulticopterMotorModel">
                <robotNamespace></robotNamespace>
                <jointName>prop_0</jointName>
                <linkName>prop_link_0</linkName>
                <turningDirection>ccw</turningDirection>
                <timeConstantUp>0.0125</timeConstantUp>
                <timeConstantDown>0.025</timeConstantDown>
                <maxRotVelocity>1500.0</maxRotVelocity>
                <motorConstant>2.5e-05</motorConstant>
                <momentConstant>4e-07</momentConstant>
                <commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
                <motorNumber>0</motorNumber>
                <rotorDragCoefficient>2.5e-05</rotorDragCoefficient>
                <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
                <motorSpeedPubTopic>motor_speed/0</motorSpeedPubTopic>
                <rotorVelocitySlowdownSim>20</rotorVelocitySlowdownSim>
            </plugin>

            <!-- prop_1: Front-Left, Motor 3, channel 2, CW -->
            <plugin filename="ignition-gazebo-multicopter-motor-model-system"
                    name="ignition::gazebo::systems::MulticopterMotorModel">
                <robotNamespace></robotNamespace>
                <jointName>prop_1</jointName>
                <linkName>prop_link_1</linkName>
                <turningDirection>cw</turningDirection>
                <timeConstantUp>0.0125</timeConstantUp>
                <timeConstantDown>0.025</timeConstantDown>
                <maxRotVelocity>1500.0</maxRotVelocity>
                <motorConstant>2.5e-05</motorConstant>
                <momentConstant>4e-07</momentConstant>
                <commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
                <motorNumber>2</motorNumber>
                <rotorDragCoefficient>2.5e-05</rotorDragCoefficient>
                <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
                <motorSpeedPubTopic>motor_speed/1</motorSpeedPubTopic>
                <rotorVelocitySlowdownSim>20</rotorVelocitySlowdownSim>
            </plugin>

            <!-- prop_2: Rear-Left, Motor 2, channel 1, CCW -->
            <plugin filename="ignition-gazebo-multicopter-motor-model-system"
                    name="ignition::gazebo::systems::MulticopterMotorModel">
                <robotNamespace></robotNamespace>
                <jointName>prop_2</jointName>
                <linkName>prop_link_2</linkName>
                <turningDirection>ccw</turningDirection>
                <timeConstantUp>0.0125</timeConstantUp>
                <timeConstantDown>0.025</timeConstantDown>
                <maxRotVelocity>1500.0</maxRotVelocity>
                <motorConstant>2.5e-05</motorConstant>
                <momentConstant>4e-07</momentConstant>
                <commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
                <motorNumber>1</motorNumber>
                <rotorDragCoefficient>2.5e-05</rotorDragCoefficient>
                <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
                <motorSpeedPubTopic>motor_speed/2</motorSpeedPubTopic>
                <rotorVelocitySlowdownSim>20</rotorVelocitySlowdownSim>
            </plugin>

            <!-- prop_3: Back-Right, Motor 4, channel 3, CW -->
            <plugin filename="ignition-gazebo-multicopter-motor-model-system"
                    name="ignition::gazebo::systems::MulticopterMotorModel">
                <robotNamespace></robotNamespace>
                <jointName>prop_3</jointName>
                <linkName>prop_link_3</linkName>
                <turningDirection>cw</turningDirection>
                <timeConstantUp>0.0125</timeConstantUp>
                <timeConstantDown>0.025</timeConstantDown>
                <maxRotVelocity>1500.0</maxRotVelocity>
                <motorConstant>2.5e-05</motorConstant>
                <momentConstant>4e-07</momentConstant>
                <commandSubTopic>gazebo/command/motor_speed</commandSubTopic>
                <motorNumber>3</motorNumber>
                <rotorDragCoefficient>2.5e-05</rotorDragCoefficient>
                <rollingMomentCoefficient>1e-06</rollingMomentCoefficient>
                <motorSpeedPubTopic>motor_speed/3</motorSpeedPubTopic>
                <rotorVelocitySlowdownSim>20</rotorVelocitySlowdownSim>
            </plugin>
        </gazebo>

    </xacro:if>
</robot>